<h1>{{title}}</h1>
<div *ngIf="main == false; else Main">
  <app-login (nuovoKeyEvent)="getKey($event)" (nuovoKEvent)="newKey($event)
"> </app-login>
</div>

<div *ngIf="main == true">
  La tua chiave:<b>{{nome}}</b>
  <h2>{{titleSez1}}</h2>

  <ul *ngIf="important == true; else Block">
    <li *ngFor="let x of favourites | keyvalue">
      <button (click)="showPost(x.key)">{{x.value.titolo}}</button>
      <button (click) ="deletePost(x.key)">Elimina</button>
    </li>
    <br>
    <button (click) ="showAll()">Mostra tutti</button>
  </ul>

  <ng-template #Block>
    <button (click) ="showImp()">Mostra solo importanti</button>
    <ul>
      <li *ngFor="let p of obj| keyvalue">
        <button (click)="showPost(p.key)">{{p.value.titolo}}</button>
        <button (click) ="deletePost(p.key)">Elimina</button>
      </li>
    </ul>
    <br>
  </ng-template>
  <app-visualizzazione [selezioneC]="selezione"> </app-visualizzazione>
  <h2>{{titleSez2}}</h2>
  <app-nuovopost (nuovoPostEvent)="addPost($event)"> </app-nuovopost>
</div>